<header class="header axil-header header-style-5">
    <div class="axil-header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="header-top-dropdown">
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                English
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">English</a></li>
                                <li><a class="dropdown-item" href="#">Arabic</a></li>
                                <li><a class="dropdown-item" href="#">Spanish</a></li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                USD
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">USD</a></li>
                                <li><a class="dropdown-item" href="#">AUD</a></li>
                                <li><a class="dropdown-item" href="#">EUR</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="header-top-link">
                        <ul class="quick-link">
                            <li><a href="#">Help</a></li>
                            <li><a href="sign-up.html">Join Us</a></li>
                            <li><a href="sign-in.html">Sign In</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Mainmenu Area  -->
    <div id="axil-sticky-placeholder"></div>
    <div class="axil-mainmenu">
        <div class="container">
            <div class="header-navbar">
                <div class="header-brand">
                    <a th:href="@{/}" class="logo logo-dark">
                        <img th:src="@{/images/logo/logo.png}" alt="Site Logo">
                    </a>
                    <a th:href="@{/}" class="logo logo-light">
                        <img th:src="@{/images/logo/logo-light.png}" alt="Site Logo">
                    </a>
                </div>
                <div class="header-main-nav">
                    <!-- Start Mainmanu Nav -->
                    <nav class="mainmenu-nav">
                        <button class="mobile-close-btn mobile-nav-toggler"><i class="fas fa-times"></i></button>
                        <div class="mobile-nav-brand">
                            <a th:href="@{/}" class="logo">
                                <img th:src="@{/images/logo/logo.png}" alt="Site Logo">
                            </a>
                        </div>
                        <ul class="mainmenu">
                            <li>
                                <a th:href="@{/}">Home</a>
                            </li>
                            <li>
                                <a th:href="@{/product}">Shop</a>
<!--                                <ul class="axil-submenu">-->
<!--                                    <li><a href="shop-sidebar.html">Shop With Sidebar</a></li>-->
<!--                                    <li><a href="shop.html">Shop no Sidebar</a></li>-->
<!--                                    <li><a href="single-product.html">Product Variation 1</a></li>-->
<!--                                    <li><a href="single-product-2.html">Product Variation 2</a></li>-->
<!--                                    <li><a href="single-product-3.html">Product Variation 3</a></li>-->
<!--                                    <li><a href="single-product-4.html">Product Variation 4</a></li>-->
<!--                                    <li><a href="single-product-5.html">Product Variation 5</a></li>-->
<!--                                    <li><a href="single-product-6.html">Product Variation 6</a></li>-->
<!--                                    <li><a href="single-product-7.html">Product Variation 7</a></li>-->
<!--                                    <li><a href="single-product-8.html">Product Variation 8</a></li>-->
<!--                                </ul>-->
                            </li>


                            <li>
                                <a th:href="@{/about}">About</a>
                            </li>

                            <li>
                                <a th:href="@{/blog}">Blog</a>
                            </li>

                            <li>
                                <a th:href="@{/contact}">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- End Mainmanu Nav -->
                </div>
                <div class="header-action">
                    <ul class="action-list">
<!--                        <li class="axil-search d-xl-block d-none">-->
<!--                            <input type="search" class="placeholder product-search-input" name="search2" id="search2"-->
<!--                                   value="" maxlength="128" placeholder="What are you looking for?" autocomplete="off">-->
<!--                            <button type="submit" class="icon wooc-btn-search">-->
<!--                                <i class="flaticon-magnifying-glass"></i>-->
<!--                            </button>-->
<!--                        </li>-->
<!--                        <li class="axil-search d-xl-none d-block">-->
<!--                            <a href="javascript:void(0)" class="header-search-icon" title="Search">-->
<!--                                <i class="flaticon-magnifying-glass"></i>-->
<!--                            </a>-->
<!--                        </li>-->
                        <!--                        <li class="wishlist">-->
                        <!--                            <a href="wishlist.html">-->
                        <!--                                <i class="flaticon-heart"></i>-->
                        <!--                            </a>-->
                        <!--                        </li>-->
                        <li class="shopping-cart">
                            <a th:href="@{/cart}">
                                <!--                                <span class="cart-count">3</span>-->
                                <i class="flaticon-shopping-cart"></i>
                            </a>
                        </li>

                        <li class="my-account">
                            <a href="javascript:void(0)">
                                <span th:if="${session.userLogin != null}">
                                    <img style="width: 30px; height: 30px; " class="rounded-5"
                                         th:src="@{'http://localhost:8081/uploads/avatar/' + ${session.userLogin.avatar}}"
                                         alt="img">
                                </span>
                                <span th:unless="${session.userLogin != null}">
                                    <i class="flaticon-person"></i>
                                </span>
                            </a>
                            <div class="my-account-dropdown">
                                <span class="title">My Account</span>
                                <span th:if="${session.userLogin != null}">
                                    <ul>
                                    <li>
                                        <a th:href="@{/profile}">Profile</a>
                                    </li>
<!--                                        <li>-->
<!--                                        <a th:href="@{/profile}">Change Password</a>-->
<!--                                    </li>-->

<!--                                    <li>-->
<!--                                        <a href="#">History</a>-->
<!--                                    </li>-->
                                    </ul>
                                    <div class="login-btn">
                                        <a th:href="@{/logout}" class="axil-btn btn-bg-primary">Logout</a>
                                    </div>
                                </span>

                                <span th:unless="${session.user != null}">
                                    <div class="login-btn">
                                    <a th:href="@{/login}" class="axil-btn btn-bg-primary">Login</a>
                                    </div>
                                    <div class="reg-footer text-center">No account yet? <a th:href="@{/register}"
                                                                                           class="btn-link">REGISTERHERE.</a></div>
                                </span>

                            </div>
                        </li>
                        <li class="axil-mobile-toggle">
                            <button class="menu-btn mobile-nav-toggler">
                                <i class="flaticon-menu-2"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Mainmenu Area -->
    <div class="header-top-campaign">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 col-md-10">
                    <div class="header-campaign-activation axil-slick-arrow arrow-both-side header-campaign-arrow">
                        <div class="slick-slide">
                            <div class="campaign-content">
                                <p>STUDENT NOW GET 10% OFF : <a href="#">GET OFFER</a></p>
                            </div>
                        </div>
                        <div class="slick-slide">
                            <div class="campaign-content">
                                <p>STUDENT NOW GET 10% OFF : <a href="#">GET OFFER</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>